/*Style.css - stylesheet for 404 page*/
body { background-color:#000000;
	color: #FFFFFF;
}
h1 { color: #8600b3;
	font-size: 35px;
	font-family: sans-serif;
	text-align: center;
	text-shadow: 0px 2px 4px #cc00ff
	word-spacing: 1cm;
}
.animated { 
	-webkit-animation: color-change 5s linear 2s infinite; 
	animation: color-change 5s linear 2s infinite;
	font-size: 30px;
	font-family: sans-serif;
	text-align: center;
	align: center;

    }

.image {
	align: center;
}
p {
	text-align:center;
}
@-webkit-keyframes color-change {
	0% {color: #a832a0;}
	50% {color: #9232a8;}
	100% {color: #FFFFFF;}
}
@keyframes color-change {
	0% {color: #a832a0;}
        50% {color: #9232a8;}
        100% {color: #FFFFFF;}
}
