/*Style.css - stylesheet for 404 page*/
body { background-color:#FFFFFF;
	color: #00000;
}
H1 { color: ##8600b3;
	font-size: 35px;
	font-family: sans-serif;
	text-align: center;
	text-shadow: 0px 2px 4px #cc00ff
	word-spacing: 1cm;
}
p { color:#ff00ff
       font-size:20px;	
       text-align:center;
    }
